<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns ="http://www.w3.org/ns/widgets"
  xmlns:gap="http://phonegap.com/ns/1.0"
  id ="com.phonegap.app1"
  version = "1.0.0">
  
  <name>app1-2018 Datos del Dispositivo </name>
  
  <description>
  Aplicacion que muestra los Datos del Dispositivo 
  </description>
  
  <author href="https://build.phonegap.com" email="quintero.anaya.mayra.sofi@gmail.com">
  Mayra Sofia Quintero Anaya
  </author>
  
  <!-- Personaliza la aplicacion y plataforma -->
  <preference name="orientation" value="default" />
   <!-- <preference name=orientation"  value="portrait" />
  <preference name="orientation" value="landscape" /> -->
   <preference name="target-device" value="universal" />
   <preference name="fullscreen" value="true" />
   <preference name="android-installLocation" value="auto" />
    <preference name="permissions" value="INTERNET" />
	
	<!--Plugins -->
	<!--Core Plugins -->
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-vibration" spec="~2.1.3" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
	
	<!-- <plugin name="cordova-plugin-geolocation" source=npm" /> -->
	<!--Third party plugins -->
	
	<!-- Colocar icono app -->
	
	<icon src="res/android/mdpi.png"/>
	
	
	</widget>
   

  
  
  
  